*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: basicTitle;
    src: url('../font/basictitlefont.ttf');
}



body{
	font-size: 100%;
	background: url('../img/fondo2.jpg');
	background-repeat: no-repeat;
	background-size: 150% auto;
	background-position: 50% 0px;
	font-family: basicTitle;
	height: 100%;

		-webkit-animation: strechBack 2.5s ease-in;
    animation: strechBack 2.5s ease-in;
	animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}


#main-container{
	height: 100%;
}

a{
	text-decoration: none;
	color: black;
}


#menu-container{
	width:90%;
	height: 70px;
	margin: auto;
	border-bottom: rgba(0,0,0,0) solid 1px;
	transition:all 0.3s ease;
	-webkit-animation: strech 0.8s ease-out;
    animation: strech 0.8s ease-out;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}

#menu-a{
	width: 150px;
	height: 50px;
	display: block;
	float: left;
	opacity: 0;
	-webkit-animation: fadeIn 0.4s ease-out;
    animation: fadeIn 0.4s ease-out;
	animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  
}


#menu-container a figure{
	width: 150px;
	height: 50px;
}

#menu-container a figure img{
	width: 100%;

}

#menu-container nav{
	float: right;
	width: auto !important;
	position: relative;
	top: 22.5px;
	text-align: right;

}

#menu-container nav a{
	margin-left: 40px;
	font-size: 1.5em;
	opacity: 0;
	display: inline-block;

/*	-webkit-animation: fadeIn 0.7s ease-out;
    animation: fadeIn 0.7s ease-out;
	  animation-delay: 2.4s;
    -webkit-animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;*/
  animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s;
  
  
}




#menu-container nav a:nth-child(1){
	opacity: 0;
    animation-delay: 2.3s;
    -webkit-animation-delay: 2.3s;
}


#menu-container nav a:nth-child(2){
	opacity: 0;
    animation-delay: 2.6s;
    -webkit-animation-delay: 2.6s;
}

#menu-container nav a:nth-child(3){
	opacity: 0;
    animation-delay: 2.9s;
    -webkit-animation-delay: 2.9s;
}

#menu-container nav a:nth-child(4){
	opacity: 0;
    animation-delay: 3.2s;
    -webkit-animation-delay: 3.2s;
}


#selection-title{
	margin-left: 5%;
	margin-top: 2%;
	font-weight: bold;
	font-size: 2em;

}

#slogan{
	position: relative;
	width: 25%;
	margin:auto;
	text-align: center;
	top: 35%;
	color: rgba(0,0,0,0.7);
}

#slogan h1{
	font-size: 3em;
	opacity: 0;
	/*-webkit-animation: fadeIn 0.8s ease-out;
    animation: fadeIn 0.8s ease-out;
	animation-delay: 3.3s;
    -webkit-animation-delay: 3.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;*/
    animation-delay: 3.6s;
    -webkit-animation-delay: 3.6s;
  

}

#slogan h2{
	margin-top: 7%;
	opacity: 0;

	/*-webkit-animation: fadeIn 0.7s ease-out;
    animation: fadeIn 0.7s ease-out;
	animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;*/
	
		animation-delay: 4.2s;
    -webkit-animation-delay: 4.2s;


}








@-webkit-keyframes strech {
    from {width: 0px;
    	border-bottom: rgba(0,0,0,0) solid 1px;}
    to {width: 90%;
    	border-bottom: rgba(0,0,0,0.5) solid 1px;}
} 


@keyframes strech {
    from {width: 0px;
    	border-bottom: rgba(0,0,0,0) solid 1px;}
    to {width: 90%;
    	border-bottom: rgba(0,0,0,0.5) solid 1px;}
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;
      - -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);}
    to {opacity: 1;
        -webkit-transform: none;
            transform: none;}
} 


@keyframes fadeIn {
    from {opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);}
    to {opacity: 1;
      -webkit-transform: none;
            transform: none;}
}


@-webkit-keyframes strechBack {
    from {	background-size: 150% auto;
}
    to {background-size: 170% auto}
} 


@keyframes strechBack {
    from {	background-size: 150% auto;
}
    to {background-size: 170% auto}
}