*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: basicTitle;
    src: url('../font/basictitlefont.ttf');
}



body{
	font-size: 100%;
	background: url('../img/fondo2.jpg');
	background-repeat: no-repeat;
	background-size: 150% auto;
	background-position: 50% 0px;
	font-family: basicTitle;
	height: 100%;
}


#main-container{
	height: 100%;
}

a{
	text-decoration: none;
	color: black;
}


#menu-container{
	width:90%;
	height: 70px;
	margin: auto;
	border-bottom: #ccc solid 1px;
}

#menu-a{
	width: 150px;
	height: 50px;
	display: block;
	float: left;
}

#menu-container a figure{
	width: 150px;
	height: 50px;
}

#menu-container a figure img{
	width: 100%;

}

#menu-container nav{
	float: right;
	width: auto !important;
	position: relative;
	top: 22.5px;
	text-align: right;
}

#menu-container nav a{
	margin-left: 40px;
	font-size: 1.5em;
	
}

#selection-title{
	margin-left: 5%;
	margin-top: 2%;
	font-weight: bold;
	font-size: 2em;

}

#slogan{
	position: relative;
	width: 25%;
	margin:auto;
	text-align: center;
	top: 35%;
	color: rgba(0,0,0,0.7);
}

#slogan h1{
	font-size: 3em;

}

#slogan h2{
	margin-top: 7%;
}